body
{
  background-color: #ffbe6b;
}
#container
{
  font-family: Georgia, Serif;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 30%);
  height: calc(100% - 30%);
  border: 15px solid #BADA55;
  background-color: #fc6f5f;
  border-radius: 40px;
}
#center{
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
}

#center > h1
{
    font-family: Georgia, Serif;
    font-size: 8vh;
}