html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

div, textarea {
    box-sizing: border-box;
}

#username {
    margin: 20px;
    padding: 10px;
}

#chatcontainer {
    display: none;
}

.container {
    height: 100%;
    width: 400px;
    border-right: 1px solid #242424;
}

.chat, .form {
    padding: 0 10px;
}

.chat {
    height: calc(100% - 150px);
}

.form {
    height: 150px;
    border-top: 1px solid #242424;
}

#messagebox {
    resize: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 0;
    border: none;
    outline: none;
}

.btn {
  border-radius: 20px;
  color: #ffffff;
  font-size: 4vh;
  background: #3498db;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
  background: #85d0ff;
  text-decoration: none;
  border-radius: 10px;
}
/*
if i want to make another button
http://css3buttongenerator.com/
*/


/*
nav bar example
http://www.w3schools.com/css/css_navbar.asp
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, li p {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    margin: 0;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


